<tr>
  <td class='align-middle'><%= badge.image_url.capitalize != 'None' ? (image_pack_tag badge.image_url, class: 'img-thumbnail w-25') : (badge.image_url) %></td>
  <td class='align-middle'><%= badge.name %></td>
  
</tr>
