<%= render 'shared/error_handle', resource: @test %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= t('.image') %></th>
      <th><%= t('.name') %></th>
    </tr>
 </thead>

  <%= render @badges %>

</table>
