  <% if resource.errors.present? %>
    <div>
      <h2><%= pluralize(resource.errors.count, 'error') %> detected: </h2>

      <ul>
        <% resource.errors.full_messages.each do |error_message| %>
          <li>
            <%= error_message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
