<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @answer.body %>
</p>

<%= link_to 'Edit', edit_admin_answer_path(@answer), method: :get %> 
<%= link_to 'Back', admin_test_path(@answer.question.test), method: :get %>
