<nav class="navbar fixed-bottom navbar-light bg-light px-3">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <%= current_year %> | Dmitry Lyutsko | <%= github_url('cartotien', 'Test-Guru')  %> | 
      <%= link_to 'School Site', 'http://thinknetica.com/', rel: 'no-follow', target: :blank %>
    </li>
  </ul>
</nav>
