<div class='container'>
  <footer class="d-flex flex-wrap fixed-bottom justify-content-between mx-2 px-2 py-2 my-2 border-top">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= current_year %> | Dmitry Lyutsko | <%= github_url('cartotien', 'Test-Guru')  %> | 
        <%= link_to 'School Site', 'http://thinknetica.com/', rel: 'no-follow', target: :blank %> |
        <%= link_to 'Feedback', new_feedback_path %>
      </li>
    </ul>
  </footer>
</div>
