<footer>
  <p><%= current_year %> | Dmitry Lyutsko | <%= github_url('cartotien', 'Test-Guru')  %> |   <%= link_to 'School Site', 'http://thinknetica.com/', 'rel': 'no-follow', target: :blank %> </p>
</footer>
